﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>

    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/jquery-2.1.4.intellisense.js"></script>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>


<!--to trzeba gruntem albo czyms zmniejszyc -->
    <script src="app/controllers/main_test.js"></script>
    <script src="app/controllers/controller1.js"></script>
    <script src="app/controllers/directive1.js"></script>
    <script src="app/directives/addClass.js"></script>
    <script src="app/directives/removeClass.js"></script>
    <script src="app/controllers/appCtrl.js"></script>
    <script src="app/directives/moreInfo.js"></script>
    <script src="app/directives/directive_with_controler.js"></script>

    <script src="app/directives/isolationScope.js"></script>




    <link href="Styles/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Styles/Content/bootstrap-theme.min.css" rel="stylesheet" />

<body>

    <div ng-app="mainApp">

        <div ng-controller="studentController">

            Enter first name: <input type="text" ng-model="student.firstName"><br>
            Enter last name: <input type="text" ng-model="student.lastName"><br>
            <br>
            {{danejakies}}
            <div class="alert alert-warning">

                <a href="#" class="close" data-dismiss="alert">&times;</a>

                <strong>Warning!</strong> You are entering: {{student.fullName()}}

            </div>

            <h3>{{mes.mes}}</h3>
            <h3>{{reverse(mes.mes)}}</h3>

            <!--Przyklad zastosowania filta-->
            <h3>{{mes.mes | reverseText}}</h3>


            <!--Pentla-->
            <div>
                <table>
                    <thead><input type="text" ng-model="search.firstName" /></thead>
                    <!--Przyklad filtrowania po wszystkim-->
                    <!--<thead><input type="text" ng-model="search.$" /></thead> -->
                    <tr ng-repeat="worker in workers | filter:search ">
                        <td>{{worker.firstName}}</td>
                        <td>{{worker.lastName}}</td>
                    </tr>
                </table>
            </div>

            <!--Directive test -->
            <hello-world></hello-world>

            <!--Directive test Element-->
            <mouseent></mouseent>

            <!--Directive test Attribute-->
            <div mouseent>Najedz na mnie</div>


            <br />
            <h1 add-class remove-class="bnt btn-danger">Error</h1>

        </div>

        <div ng-controller="controller1">

            {{danejakies}}

        </div>
        <br /><br /><br />

        <!--Komunikacja miedzy kontrolerem a dyrektywa-->
        <div ng-controller="appCtrl">
            <div more-info="loadMoreThx()"> Jakies tam sobie informacje</div>
        </div>
        <br /><br /><br />

        <!--Directive to Directive Communication -->
        <!-- jest duzy problem z nazwami "cos_cos_nazwa" lepiej uzywac duzych liter a potem
            w HTML tworzyc z '-'-->
        <directive-with-controler strength speed>Superman</directive-with-controler>

        <br /><br /><br />
        <!--Understanding Isolate Scope -->
        <div ng-controller="ChoreCtrl">
            <isolation-scope done="logChore(chore)"></isolation-scope>
        </div>

    </div>

    </div>




</body>
</html>
